<header class="nav-wrap">
  <nav class="nav">
    <a class="nav-brand" href="/">Jade Feng</a>
    <div class="nav-links">
      <a class="nav-link" href="/projects">Projects</a>
      <a class="nav-link" href="/thoughts">Thoughts</a>
      <a class="nav-link" href="/books">Books</a>
      <a class="nav-link" href="/about">About</a>
    </div>
  </nav>
</header>
