---
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
const { title = 'Jade Feng', description = 'Personal site and writing by Jade Feng.' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

  
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <meta property="og:title" content="Jade Feng">
    <meta property="og:description" content="Personal website">
    <meta property="og:image" content="https://jadefeng.com/apple-touch-icon.png">
    <meta property="og:url" content="https://jadefeng.com">
    <meta property="og:type" content="website">
  </head>
  <body>
    <div class="wrapper">
      <Nav />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
